@import "navbar.css";
@import "reset.css";

.articles {
    padding: 20px;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 50px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 8px;
    font-weight: bold;
}

.form input,
.form select,
.form textarea {
    margin-bottom: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    font-size: 16px;
}

.block-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 16px;
    margin-bottom: 16px;
}

.form select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('https://cdn.jsdelivr.net/gh/GoogleChrome/ui-element-samples/build/images/arrow.png') no-repeat;
    background-position: 95% center;
}

.form textarea {
    resize: vertical;
}

.submit_btn {
    background-color: #4caf50;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}

.submit_btn:hover {
    background-color: #45a049;
}
