@import "reset.css";
@import "navbar.css";

.card {
    width: 100%;
    max-width: 50%;

    margin-top: 24px;
    padding: 20px;

    background-color: white;
    border-radius: 4px;

    font-size: 18px;
}

.card__header {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(104, 104, 104, 0.5);
    font-size: 20px;
}

.card__content {
    margin-top: 20px;
}

.card__list {
    list-style: circle;

    margin-top: 10px;
    padding-left: 20px;
}

.card__changeData {
    margin-top: 16px;
}

.card__changeData a {
    padding: 5px 8px;
    border: 1px solid black;;
    border-radius: 2px;

    transition: background-color .2s ease, color .2s ease;
}

.card__changeData a:hover {
    background-color: black;
    color: white;
}

.logout {
    width: 100px;
    padding: 4px;
    margin-top: 12px;
    color: #380000;
}

.form__edit {
    margin-top: 16px;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input__wrapper:not(:first-child) {
    margin-top: 12px;
}

.input__wrapper input {
    max-width: 35%;
    padding: 6px 12px;
    background-color: lightgray;
    border-radius: 4px;
}

.required {
    border-color: red !important;
}

.save-btn {
    width: 100px;
    margin: 12px auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
    transition: background-color .3s ease, color .2s ease;
}

.save-btn:hover {
    background-color: black;
    color: white;
}

.change-btn {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px 12px;
    transition: background-color 0.3s ease, color 0.2s ease;
}

.change-btn:hover {
    background-color: black;
    color: white;
}

.edit__action {
    display: flex;
    gap: 16px;
    margin-top: 20px;
}

.edit__btn, .cancel__btn, .save__btn {
    padding: 4px 6px;
    border-radius: 4px;

    transition: background-color .3s ease, color .2s ease;
}

.edit__btn {
    border: 1px solid black;
}

.edit__btn:hover {
    background-color: black;
    color: white;
}

.cancel__btn:hover {
    background-color: red;
    color: white;
}


.form-grid {
    display: grid;
    grid-template-columns: minmax(100px, 1fr) 1fr;
    gap: 12px;

    margin-top: 20px;
}

.form-grid label {
    margin: 0;
    white-space: normal;
    overflow-wrap: break-word;
}

.wrapper {
    z-index: 1;
}

.form-grid input {
    border: 1px solid black;
    border-radius: 4px;
    padding: 4px;
}