* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    background: none;
    outline: none;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.app {
    width: 100vw;
    min-height: 100vh;
    background-color: #F0F0F0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
